<div class="container">
    <div class="col-md-12" style="text-align: center;">
            <h2>Restaurant aanpassen</h2>
            <form class="form-register" [formGroup]="form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Naam</label>
                        <input
                            required
                            [readOnly]=editingMode
                            [(ngModel)]="detailsToUpdate.name"
                            formControlName="name"
                            id="name"
                            class="form-control"
                            type="text"
                            placeholder="Bedrijfsnaam">
                            <div class="alert alert-danger" *ngIf="form.controls['name'].touched && !form.controls['name'].valid">
                                Bedrijfsnaam is verplicht
                            </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name">Email</label>
                        <input
                            required
                            [readOnly]=editingMode
                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
                            [(ngModel)]="detailsToUpdate.email"
                            formControlName="email"
                            class="form-control"
                            type="email"
                            placeholder="E-mail adres">
                            <div
                                class="alert alert-danger"
                                *ngIf="form.controls['email'].touched && !form.controls['email'].valid">
                                <div *ngIf="form.controls['email'].errors.required">
                                    E-mail is verplicht
                                </div>
                                <div *ngIf="form.controls['email'].errors.pattern">
                                    Voer een geldig email adres in
                                </div>
                            </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Straatnaam</label>
                    <input
                        required
                        [readOnly]=editingMode
                        [(ngModel)]="detailsToUpdate.streetname"
                        formControlName="streetname"
                        class="form-control"
                        type="text"
                        placeholder="Adres">
                        <div class="alert alert-danger" *ngIf="form.controls['streetname'].touched && !form.controls['streetname'].valid">
                            Adres is verplicht
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                        <label for="name">Huisnummer</label>
                    <input
                        required
                        [readOnly]=editingMode
                        [(ngModel)]="detailsToUpdate.streetnumber"
                        formControlName="streetnumber"
                        class="form-control"
                        type="text"
                        placeholder="Huisnummer">
                        <div class="alert alert-danger" *ngIf="form.controls['streetnumber'].touched && !form.controls['streetnumber'].valid">
                            Huisnummer is verplicht
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="name">Postcode</label>
                        <input
                            required
                            [readOnly]=editingMode
                            [(ngModel)]="detailsToUpdate.zipcode"
                            formControlName="zipcode"
                            class="form-control"
                            type="text"
                            placeholder="postcode">
                            <div class="alert alert-danger" *ngIf="form.controls['zipcode'].touched && !form.controls['zipcode'].valid">
                                Postcode is verplicht
                            </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Stad</label>
                        <input
                            required
                            [readOnly]=editingMode
                            [(ngModel)]="detailsToUpdate.city"
                            formControlName="city"
                            class="form-control"
                            type="text"
                            placeholder="Stad">
                            <div class="alert alert-danger" *ngIf="form.controls['city'].touched && !form.controls['city'].valid">
                                Stad is verplicht
                            </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="name">Telefoonnummer</label>
                        <input
                            required
                            [readOnly]=editingMode
                            [(ngModel)]="detailsToUpdate.phonenumber"
                            formControlName="phonenumber"
                            class="form-control"
                            type="text"
                            placeholder="Telefoon nummer">
                            <div class="alert alert-danger" *ngIf="form.controls['phonenumber'].touched && !form.controls['phonenumber'].valid">
                                Telefoon nummer is verplicht
                            </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Minimale bestel prijs</label>
                        <input
                            [readOnly]=editingMode
                            [(ngModel)]="detailsToUpdate.minOrderPrice"
                            formControlName="minOrderPrice"
                            class="form-control"
                            type="text"
                            placeholder="Minimale bestel prijs">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="name">Bezorg kosten</label>
                        <input
                            [readOnly]=editingMode
                            [(ngModel)]="detailsToUpdate.deliveryCosts"
                            formControlName="deliveryCosts"
                            class="form-control"
                            type="text"
                            placeholder="Leverings kosten">
                    </div>
                </div>

                <div class="form-row">
                    <label for="name">Bezorg postcodes</label>
                    <div class="form-group col-md-12">
                        <input
                            [readOnly]=editingMode
                            [(ngModel)]="detailsToUpdate.deliveryZipcodes"
                            formControlName="deliveryZipcodes"
                            class="form-control"
                            type="text"
                            placeholder="Leverings postcodes als: 9321, 9432, ...">
                    </div>
                </div>

                

            <div class="form-row">
                <div class="form-group col-md-12">
                    <textarea
                        [readOnly]=editingMode
                        [(ngModel)]="detailsToUpdate.description"
                        formControlName="description"
                        class="form-control"
                        placeholder="Beschrijving van het restaurant"></textarea>
                    </div>
                </div>



                <div class="form-row">
                    <button type="submit" class="btn btn-primary" (click)="enableEditing()">editingMode</button>
                    <button *ngIf='!editingMode' type="submit" class="btn btn-primary" (click)="updateRestaurantInfo()" style="margin-left: 10px;">Opslaan</button>
                </div>

            </form>
        </div>
</div>
