<div class="container">
    <div class="col-md-12" style="text-align: center;">
            <h2>Mijn gegevens</h2>
            <form class="form-register" [formGroup]="form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Keten naam</label>
                        <input 
                            required
                            autofocus
                            [readOnly]=editingMode
                            [(ngModel)]="detailsToUpdate.name"
                            formControlName="name"
                            class="form-control" 
                            id="name"
                            type="text" 
                            placeholder="Bedrijfsnaam">
                            <div class="alert alert-danger" *ngIf="form.controls['name'].touched && !form.controls['name'].valid">
                                Bedrijfsnaam is verplicht
                            </div>
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input 
                            required
                            [readOnly]=editingMode
                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" 
                            [(ngModel)]="detailsToUpdate.email"
                            formControlName="email"
                            class="form-control" 
                            id="email"
                            type="email" 
                            placeholder="E-mail adres">
                            <div 
                                class="alert alert-danger" 
                                *ngIf="form.controls['email'].touched && !form.controls['email'].valid">
                                <div *ngIf="form.controls['email'].errors.required">
                                    E-mail is verplicht
                                </div>
                                <div *ngIf="form.controls['email'].errors.pattern">
                                    Voer een geldig email adres in
                                </div>
                            </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="streetname">Straatnaam</label>
                    <input 
                        required
                        autofocus
                        [readOnly]=editingMode
                        [(ngModel)]="detailsToUpdate.streetname"
                        formControlName="streetname"
                        class="form-control" 
                        id="streetname"
                        type="text" 
                        placeholder="Adres">
                        <div class="alert alert-danger" *ngIf="form.controls['streetname'].touched && !form.controls['streetname'].valid">
                            Adres is verplicht
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                    <label for="streetnumber">Huisnummer</label>
                    <input 
                        required
                        autofocus
                        [readOnly]=editingMode
                        [(ngModel)]="detailsToUpdate.streetnumber"
                        formControlName="streetnumber"
                        id="streetnumber"
                        class="form-control" 
                        type="number" 
                        placeholder="Huisnummer">
                        <div class="alert alert-danger" *ngIf="form.controls['streetnumber'].touched && !form.controls['streetnumber'].valid">
                            Huisnummer is verplicht
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="zipcode">Postcode</label>
                        <input 
                            required
                            autofocus
                            [readOnly]=editingMode
                            [(ngModel)]="detailsToUpdate.zipcode"
                            formControlName="zipcode"
                            id="zipcode"
                            class="form-control" 
                            type="text" 
                            placeholder="postcode">
                            <div class="alert alert-danger" *ngIf="form.controls['zipcode'].touched && !form.controls['zipcode'].valid">
                                Postcode is verplicht
                            </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="city">Stad</label>
                        <input 
                            required
                            autofocus
                            [readOnly]=editingMode
                            [(ngModel)]="detailsToUpdate.city"
                            formControlName="city"
                            id="city"
                            class="form-control" 
                            type="text" 
                            placeholder="Stad">
                            <div class="alert alert-danger" *ngIf="form.controls['city'].touched && !form.controls['city'].valid">
                                Stad is verplicht
                            </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="phonenumber">Telefoonnummer</label>
                        <input 
                            required
                            autofocus
                            [readOnly]=editingMode
                            [(ngModel)]="detailsToUpdate.phonenumber"
                            formControlName="phonenumber"
                            id="phonenumber"
                            class="form-control" 
                            type="number" 
                            placeholder="Telefoon nummer">
                            <div class="alert alert-danger" *ngIf="form.controls['phonenumber'].touched && !form.controls['phonenumber'].valid">
                                Telefoon nummer is verplicht
                            </div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary" (click)="enableEditing()">editingMode</button>
                <button *ngIf='!editingMode' type="submit" class="btn btn-primary" (click)="updateChainInfo()">Opslaan</button>
            </form>
        </div>
</div>
