<div class="container mt-3">
    <div class="card">
    <div class="card-heading"><h3> Review {{restaurant.name}}</h3></div>
    <div class="card-body">
        <form [formGroup]="reviewForm">
            <div class="row">
                <div class="col-sm-2">
                    <p>Score:</p> 
                    <select class="form-control" [(ngModel)]="reviewInterface.rating" formControlName="rating">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <hr>
                    <p>Titel review:</p>
                    <input class="form-control" [(ngModel)]="reviewInterface.title" formControlName="title" type="text" required>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <p>Beschrijving review:</p>
                    <textarea class="form-control" [(ngModel)]="reviewInterface.description" formControlName="description" required></textarea>
                </div>
            </div>
            <div class="col-sm-2 offset-sm-10">
                <hr>
                <button type="button" [disabled]="!reviewForm.valid" class="btn btn-primary btn-lg"
                            (click)="postReview()">Review plaatsen</button>
            </div>
        </form>
    </div>
</div>