.container{
    font-size: 14px;
}
.card-heading{
    color: white;
    background-color: #2d3246;
    border-color: #2d3246;
}
.card{
    border-color: #2d3246;
}
.btn-primary{
    background-color: #2d3246;
    border-color: #2d3246;
}
.total{
    border:1px solid #2d3246;
}
.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}