  <div class="container mt-3">
    <div class="card">
        <div class="card-heading">
            <h3>Afrekenen bij {{restaurant.name}}</h3>
        </div>
        <div class="card-body">
            <form [formGroup]="checkOutForm">
                <label>Bezorgadres</label>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <p>Straatnaam</p>
                        <input class="form-control" [(ngModel)]="order.deliveryAddressStreet" formControlName="adres"
                            type="text" required>
                            <div class="alert alert-danger" *ngIf="checkOutForm.controls['adres'].touched && !checkOutForm.controls['adres'].valid">
                                Voer een geldige straat in
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <p>Huisnummer</p>
                        <input class="form-control" [(ngModel)]="order.deliveryAddressNumber"
                            formControlName="adresNumber" type="number" required>
                    </div>
                    <div class="col-sm-3">
                        <p>Postcode</p>
                        <input class="form-control" pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}" [(ngModel)]="order.deliveryAddressZipcode" formControlName="zipcode"
                            type="text" maxlength="7" required>
                        <div class="alert alert-danger" *ngIf="checkOutForm.controls['zipcode'].touched && !checkOutForm.controls['zipcode'].valid">
                                Voer een geldige postcode in
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <p>Plaatsnaam</p>
                        <input class="form-control" [(ngModel)]="order.deliveryAddressCity" formControlName="city"
                            type="text" required>
                            <div class="alert alert-danger" *ngIf="checkOutForm.controls['city'].touched && !checkOutForm.controls['city'].valid">
                                Voer een geldige plaatsnaam in
                        </div>
                    </div>
                </div>
                <br>
                <label>Contact informatie</label>
                <hr />
                <div class="row">
                    <div class="col-sm-6">
                        <p>Naam</p>
                        <input class="form-control" [(ngModel)]="order.name" formControlName="name" type="text"
                            required>
                            <div class="alert alert-danger" *ngIf="checkOutForm.controls['name'].touched && !checkOutForm.controls['name'].valid">
                                Voer een geldige naam in
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p>E-mailadres</p>
                        <input required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="order.email"
                            formControlName="email" class="form-control" type="email" placeholder="E-mail adres">
                        <div class="alert alert-danger"
                            *ngIf="checkOutForm.controls['email'].touched && !checkOutForm.controls['email'].valid">
                            <div *ngIf="checkOutForm.controls['email'].errors.required">
                                E-mail is verplicht
                            </div>
                            <div *ngIf="checkOutForm.controls['email'].errors.pattern">
                                Voer een geldig email adres in
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-6">
                        <p>Telefoonnummer</p>
                        <input class="form-control" pattern="[0-9-]{8,}" [(ngModel)]="order.phone" formControlName="phone" type="text"
                            required>
                            <div class="alert alert-danger" *ngIf="checkOutForm.controls['phone'].touched && !checkOutForm.controls['phone'].valid">
                                Voer een geldig telefoonnummer in
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p>Bedrijfsnaam</p>
                        <input class="form-control" [(ngModel)]="order.businessName" formControlName="businessName"
                            type="text">
                    </div>
                </div>
                <br>
                <label>Bezorg informatie</label>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <p>Gewenste bezorgtijd</p>
                        <select class="form-control" [(ngModel)]="order.deliveryTime" formControlName="deliveryTime"
                            required>
                            <option>Zo snel mogelijk</option>
                            <option *ngFor="let t of this.selectData">{{t}}</option>
                        </select>
                    </div>
                    <div class="col-sm-8">
                        <p>Opmerkingen voor restaurant</p>
                        <textarea class="form-control" [(ngModel)]="order.comments" formControlName="comments"
                            type="text"></textarea>
                    </div>
                </div>
            <br>
            <label>Betaalmethode</label>
            <hr/>
            <div class="row">
                <div class="col-sm-4">
                    <p>Hoe wilt u betalen?</p>
                    <select class="form-control" [(ngModel)]="order.paymentMethodId" formControlName="payment" id="test" required>
                        <option value=1 selected>Contant</option>
                        <option value=2>iDeal</option>
                        <option value=3>PayPal</option>
                        <option value=4>MasterCard</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <div>
                        Subtotaal:<br>
                        Bezorgkosten:<br>
                        Totaalprijs:<br>
                    </div>
                </div>
                <div class="col-sm-1">
                        €{{this.price}}<br>
                        €{{restaurant.deliveryCosts}}<br>
                        €{{order.price}}<br>
                    </div>
                    <div class="col-sm-2 offset-sm-2">
                        <button type="button" [disabled]="!checkOutForm.valid" class="btn btn-primary btn-lg"
                            (click)="checkOut()">BETALEN</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
