<form [formGroup]="userForm">
    <div class="row bot-buffer">
        <div class="form-group col-sm-6">
            <label for="fname">Voornaam</label>
            <input
            required
            [readOnly]=editingMode
            type="text"
            class="form-control"
            id="fname"
            [(ngModel)]="detailsToUpdate.first_name"
            formControlName="fname">
                <div class="alert alert-danger"
                    *ngIf="userForm.controls['fname'].touched && !userForm.controls['fname'].valid">
                    <div *ngIf="userForm.controls['fname'].errors.required">
                        Voornaam mag niet leeg zijn
                    </div>
                </div>
        </div>

        <div class="form-group col-sm-6">
            <label for="lname">Achternaam</label>
            <input
            required
            [readOnly]=editingMode
            type="text"
            id="lname"
            class="form-control"
            [(ngModel)]="detailsToUpdate.last_name"
            formControlName="lname">
                <div class="alert alert-danger"
                    *ngIf="userForm.controls['lname'].touched && !userForm.controls['lname'].valid">
                    <div *ngIf="userForm.controls['lname'].errors.required">
                        Achternaam mag niet leeg zijn
                    </div>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <label for="Geboortedatum">Geboortedatum</label>
            <input
            required
            [readOnly]=editingMode
            type="date"
            id="dateofbirth"
            class="form-control"
            [(ngModel)]="detailsToUpdate.birth_date"
            formControlName="dateofbirth">

            <div class="alert alert-danger"
            *ngIf="userForm.controls['dateofbirth'].touched && !userForm.controls['dateofbirth'].valid">
            <div *ngIf="userForm.controls['dateofbirth'].errors.required">
                Geboortedatum mag niet leeg zijn
            </div>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <label for="email">Email</label>
            <input
            required
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
            [readOnly]=editingMode
            type="text"
            id="email"
            class="form-control"
            [(ngModel)]="detailsToUpdate.email"
            formControlName="email">
            <div class="alert alert-danger"
            *ngIf="userForm.controls['email'].touched && !userForm.controls['email'].valid">
                <div *ngIf="userForm.controls['email'].errors.required">
                Email mag niet leeg zijn
                </div>
                <div *ngIf="!userForm.controls['email'].errors.pattern && userForm['email'].valid">
                    <p>Vul een geldig email adres in</p>
                </div>

            </div>
        </div>
    </div>

    <div>
        <div *ngIf="editingMode; else elseBlock" class="row mt-4">
            <button type="button" class="btn btn-primary mx-auto" (click)="enableEditing()">Gegevens aanpassen</button>
        </div>
        <ng-template #elseBlock>
            <div class="row mt-4">
                <button type="submit" (click)="updateUserData()" class="btn btn-primary mx-auto">Gegevens opslaan</button>
            </div>
        </ng-template>
    </div>
</form>
