<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <app-restaurant-label></app-restaurant-label>
        </div>
    
        <div class="card-body">
            <app-review></app-review>
        </div>
    </div>
</div>