<div class="container">
    <div class="row" style="text-align: center;">
        <div class="offset-md-4 col-md-4">
            <h2 style="text-align: center;">Gebruiker registreren</h2>
            <form class="form-register" [formGroup]="form">
                <div class="form-group">
                    <input 
                        required
                        autofocus
                        [(ngModel)]="credentials.first_name"
                        formControlName="first_name"
                        class="form-control" 
                        type="text" 
                        placeholder="Voornaam"
                        value="hoi">
                        <div class="alert alert-danger" *ngIf="form.controls['first_name'].touched && !form.controls['first_name'].valid">
                            Voornaam is verplicht
                        </div>
                    </div>

                <div class="form-group">
                    <input 
                        required
                        autofocus
                        [(ngModel)]="credentials.last_name"
                        formControlName="last_name"
                        class="form-control" 
                        type="text" 
                        placeholder="Achternaam">
                        <div class="alert alert-danger" *ngIf="form.controls['last_name'].touched && !form.controls['last_name'].valid">
                            Achternaam is verplicht
                        </div>
                </div>

                <div class="form-group">
                    <input 
                        required
                        autofocus 
                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" 
                        [(ngModel)]="credentials.email"
                        formControlName="email"
                        class="form-control" 
                        type="email" 
                        placeholder="E-mail adres">
                        <div 
                            class="alert alert-danger" 
                            *ngIf="form.controls['email'].touched && !form.controls['email'].valid">
                            <div *ngIf="form.controls['email'].errors.required">
                                E-mail is verplicht
                            </div>
                            <div *ngIf="form.controls['email'].errors.pattern">
                                Voer een geldig email adres in
                            </div>
                        </div>
                </div>

                <div class="form-group">
                    <input type="date"
                    required
                    [(ngModel)]="credentials.birth_date"
                    class="form-control"
                    formControlName = "birth_date">
                    <div class="alert alert-danger"
                    *ngIf="form.controls['birth_date'].touched && !form.controls['birth_date'].valid">
                    <div *ngIf="form.controls['birth_date'].errors.required">
                        Geboortedatum mag niet leeg zijn
                    </div>
                    </div>
                </div>
                    
                <div class="form-group">
                    <input 
                        required 
                        [(ngModel)]="credentials.password"
                        formControlName="password"
                        class="form-control" 
                        type="password" 
                        placeholder="Wachtwoord">
                        <div class="alert alert-danger" *ngIf="form.controls['password'].touched && !form.controls['password'].valid">
                            Wachtwoord is verplicht
                        </div>
                </div>
                    
                <div class="form-group"> 
                    <input 
                        required 
                        formControlName="passwordRe"
                        class="form-control" 
                        type="password" 
                        placeholder="Bevestig uw wachtwoord">
                        <div class="alert alert-danger" *ngIf="form.controls['passwordRe'].touched && !form.controls['passwordRe'].valid">
                            Wachtwoord bevestigen is verplicht
                        </div>
                </div>
                <div class="form-group">
                    <a class="" routerLink="/chain/registreren">
                        Uw keten registreren
                    </a>
                </div>                     
                <button type="submit" class="btn btn-primary" (click)="register()">Registreer</button>
            </form>
        </div>
    </div>
</div>
