.glyphicon-lg
{
    font-size:4em
}
.info-block
{
    border:1px solid #E6E6E6;margin-bottom:25px
}
.info-block .square-box
{
    width:100px;min-height:110px;margin-right:22px;text-align:center!important;background-color:#676767;padding:20px 0
}
.info-block.block-info
{
    border-color:#676767
}
.info-block.block-info .square-box
{
    background-color:#20819e;color:#FFF
}

.pull-left {
    float: left!important;
}

p {
    margin: 0;
}

.cardbutton {
    margin-bottom: 5px;
}