<div *ngIf="isLoaded">
    <div class="container">
        <div class="card">
            <div class="card-header" style="color: black;">
                <h3>{{restaurantInfo.name}}</h3>
            </div>
            <div class="card-body">
                <div class="row mx-auto">
                    <div class="col-sm-1">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div>
                            <ul class="noBull">
                                <H4>Contact</H4>
                                <li><b> Email: </b>{{restaurantInfo.email}}</li>
                                <li><b> Telefoonnummer: </b>{{restaurantInfo.phonenumber}}</li>
                                <button (click)="showReviews()">Reviews</button>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <ul class="noBull">
                            <h4>Locatie</h4>
                            <li><b>Adres: </b>{{restaurantInfo.streetname + " " + restaurantInfo.streetnumber}}</li>
                            <li><b> Postcode: </b>{{restaurantInfo.zipcode}}</li>
                            <li><b> Stad: </b>{{restaurantInfo.city}}</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="noBull">
                            <h4>Openingstijden</h4>
                            <li><b>Maandag:</b> 9:00 - 19:00</li>
                            <li><b>Dinsdag:</b> 9:00 - 21:00</li>
                            <li><b>Woensdag:</b> 9:00 - 21:00</li>
                            <li><b>Donderdag:</b> 9:00 - 23:00</li>
                            <li><b>Vrijdag:</b> 9:00 - 21:00</li>
                            <li><b>Zaterdag:</b> 12:00 - 21:00</li>
                            <li><b>Zondag:</b> Gesloten</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container'>
        <h2>Gerechten</h2>
        <div *ngFor="let menuItem of menu">
            <div class="row info-block block-info" style="padding: 5px; margin: 0;">
                <div class="items col-xs-2 col-sm-2 col-md-2 col-lg-2 clearfix">
                    <div class="square-box pull-left">
                        <span class="glyphicon glyphicon-user glyphicon-lg"></span>
                    </div>
                </div>
                <div class="items col-xs-3 col-sm-3 col-md-3 col-lg-3 clearfix ">
                    <h4>{{ menuItem.name }}</h4>
                    <p>Prijs: {{ menuItem.price }}</p>
                    <p>{{ menuItem.description}}</p>
                </div>
                <div class="items col-xs-4 col-sm-4 col-md-4 col-lg-4 clearfix">
                    <h4>Allergenen</h4>
                    <div *ngIf="menuItem.allergies!= null">
                        <div *ngFor="let allergie of processAllergies(menuItem.allergies)">
                                <p>{{allergie}}</p>
                        </div>
                    </div>
                </div>
                <div class="items col-xs-3 col-sm-3 col-md-3 col-lg-3 clearfix">
                    <button class="btn btn-primary cardbutton" (click)="toUpdateDish(menuItem.id)">Aanpassen</button>
                    <p></p>
                    <button class="btn btn-primary" (click)="dishDelete(menuItem.id)">Verwijderen</button>

                </div>
            </div>
        </div>
    </div>
    <div class='container mt-4'>
        <div class=" mx-auto">
            <button type="button" class="btn btn-primary btn-lg" (click)='toAddDish()'>Iets toevoegen</button>
        </div>
    </div>
