<link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
<div *ngIf="isLoaded">
    <div *ngFor="let course of courses">
        <div class="card mb-2">
            <div class="card-header">
                <h4>{{course}}</h4>
            </div>
            <div *ngFor="let menuItem of menu; let i = index">
                <div *ngIf="menuItem.course == course">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-10 offset-sm-1">
                                    <h3>{{menuItem.name}}</h3>
                                </div>
                            </div>
                            <hr>
                            <div *ngIf="menuItem.allergies != null">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-11">
                                        <div class="oneLine"
                                            *ngFor="let allergie of processAllergies(menuItem.allergies)">
                                            <div class="col-sm-12">
                                                {{allergie}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-1">
                                    <label>€{{menuItem.price}}</label>
                                </div>
                                <div class="col-sm-1">
                                    <input id={{i}} type="text" size="4" value="1">
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" (click)="additem(menuItem.id, i)"
                                        class="btn btn-primary">Toevoegen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>