.content{
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.collapsible{
    background-color: #eee;
    color: #444;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
}

td{
    text-align:left !important;
}

.card{
    border-color: #2d3246;
  }
  
.card-header{
  color: white;
  background-color: #2d3246;
  border-color: #2d3246;
  text-align: center;
}
  
.card-body{
  border-color: #2d3246!important;
}

.oneLine {
  display: inline-block;
}