<div class="container">
    <div class="row" style="text-align: center;">
        <div class="offset-md-4 col-md-4">
            <h2 style="text-align: center;">Nieuw wachtwoord aanvragen</h2>
        <div>
          <form>
            <div class="form-group">
                <input 
                    required 
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                    ngModel 
                    name="email" 
                    #email="ngModel" 
                    class="form-control" 
                    type="email" 
                    placeholder="E-mail adres">

                <div 
                    class="alert alert-danger" 
                    *ngIf="email.touched && !email.valid">
                    <div *ngIf="email.errors.required">
                        E-mail is verplicht
                    </div>
                    <div *ngIf="email.errors.pattern">
                        Voer een geldig email adres in
                    </div>
                </div>
            </div>
            <div class="input-center">
              <button type="submit" class="btn btn-primary">Verzenden</button>
            </div>
          </form>
        </div>
        </div>
    </div>
</div>