<div class="container">
    <div class="col-md-12" style="text-align: center;">
            <h2>Gerecht aanpassen</h2>
            <form class="form-register" [formGroup]="form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input 
                            required
                            [(ngModel)]="details.name"
                            formControlName="name"
                            class="form-control" 
                            type="text" 
                            placeholder="Naam">
                            <div class="alert alert-danger" *ngIf="form.controls['name'].touched && !form.controls['name'].valid">
                                Naam is verplicht
                            </div>
                    </div>
                    <div class="form-group col-md-6">
                        <textarea 
                            required
                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" 
                            [(ngModel)]="details.description"
                            formControlName="description"
                            class="form-control" 
                            type="email" 
                            placeholder="Beschrijving">
                            </textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                    <input 
                        required
                        [(ngModel)]="details.price"
                        formControlName="price"
                        class="form-control" 
                        type="text" 
                        placeholder="Prijs">
                        <div class="alert alert-danger" *ngIf="form.controls['price'].touched && !form.controls['price'].valid">
                            Prijs is verplicht
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                    <input 
                        required
                        [(ngModel)]="details.ingredients"
                        formControlName="ingredients"
                        class="form-control" 
                        type="text" 
                        placeholder="Ingredient nummers">
                        <div class="alert alert-danger" *ngIf="form.controls['ingredients'].touched && !form.controls['ingredients'].valid">
                            ingredienten zijn verplicht
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label for="allergies">Allergenen</label>
                        <textarea 
                            required 
                            type="text" 
                            class="form-control"
                            [(ngModel)]="details.allergies"
                            id="allergies"
                            formControlName="allergies"
                            placeholder="Lactose, Noten, ..."></textarea>
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="course">Gang</label>
                        <select class="form-control" [(ngModel)]="details.course"
                        required
                        id="course"
                        formControlName="course">
                            <option value="Voorgerecht" selected>Voorgerecht</option>
                            <option value="Hoofdgerecht">Hoofdgerecht</option>
                            <option value="Drinken">Drinken</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" (click)="updateDish()">Opslaan</button>
            </form>
        </div>
</div>
