.card{
    border-color: #2d3246;
  }
  
.card-header{
  color: white;
  background-color: #2d3246;
  border-color: #2d3246;
  text-align: center;
}
  
.card-body{
  border-color: #2d3246!important;
}
  
button {
  color: white !important;
  background-color: #2d3246 !important;
  border-color: #2d3246 !important;
}

.noBull {
  list-style: none;
  padding: 0px;
}
