<div *ngIf="isLoaded">
    <div class="card mt-2">
        <div class="card-header">
            <h2>{{restaurantInfo.name}}</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-2 offset-sm-1">
                    <div>
                        <ul class="noBull">
                            <H4>Contact</H4>
                            <li><b> Email: </b>{{restaurantInfo.email}}</li>
                            <li><b> Telefoonnummer: </b>{{restaurantInfo.phonenumber}}</li>
                            <button (click)="showReviews()">Reviews</button>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 offset-sm-2">
                    <H4>Locatie</H4>
                    <ul class="noBull">
                        <li><b>Adres: </b>{{restaurantInfo.streetname + " " + restaurantInfo.streetnumber}}</li>
                        <li><b> Postcode: </b>{{restaurantInfo.zipcode}}</li>
                        <li><b> Stad: </b>{{restaurantInfo.city}}</li>
                    </ul>
                </div>
                <div class="col-sm-3 offset-sm-2">
                    <H4>Openingstijden</H4>
                    <ul class="noBull">
                        <li><b>Maandag:</b> 9:00 - 19:00</li>
                        <li><b>Dinsdag:</b> 9:00 - 21:00</li>
                        <li><b>Woensdag:</b> 9:00 - 21:00</li>
                        <li><b>Donderdag:</b> 9:00 - 23:00</li>
                        <li><b>Vrijdag:</b> 9:00 - 21:00</li>
                        <li><b>Zaterdag:</b> 12:00 - 21:00</li>
                        <li><b>Zondag:</b> Gesloten</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="mx-auto">

                </div>
            </div>
        </div>
    </div>
</div>