<div class="container mt-3 ">
    <div class="card mb-1">
        <div class="card-header">
            <h3>Persoonsgegevens</h3>
        </div>
        <div class=card-body>
            <app-user-profile></app-user-profile>
        </div>
    </div>

    <div class="card mb-1">
        <div class="card-header">
            <h3>Wachtwoord</h3>
        </div>
        <div class="card-body">
            <app-password></app-password>
        </div>
    
    </div>    

    <div class="card">
        <div class="card-header">
            <h3>Locatie</h3>
        </div>
        <div class="card-body">
            <app-locations></app-locations>
        </div>
    </div>
</div>