/* You can add global styles to this file, and also import other style files */
html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
   min-width: 220px;
}

.container{
  font-size: 14px;
}

.card{
  border-color: #2d3246;
}

.card-header{
  color: white;
  background-color: #2d3246;
  border-color: #2d3246;
  text-align: center;
}

.card-body{
  border-color: #2d3246!important;
}

button {
  color: white !important;
  background-color: #2d3246 !important;
  border-color: #2d3246 !important;
}

#page-container {
  position: relative;
  overflow: auto;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 13rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 13rem;            /* Footer height */
}