<div class="container">
    <div class="col-md-12" style="text-align: center;">
            <h2>Restaurant toevoegen</h2>
            <form class="form-register" [formGroup]="form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Restaurant naam</label>
                        <input
                            required
                            pattern="[a-zA-Z0-9\s]+"
                            [(ngModel)]="credentials.name"
                            formControlName="name"
                            id="name"
                            class="form-control"
                            type="text"
                            placeholder="Bedrijfsnaam">
                            <div class="alert alert-danger" *ngIf="form.controls['name'].touched && !form.controls['name'].valid">
                                Bedrijfsnaam is verplicht
                            </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="email">Email</label>
                        <input
                            required
                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
                            [(ngModel)]="credentials.email"
                            formControlName="email"
                            id="email"
                            class="form-control"
                            type="email"
                            placeholder="E-mail adres">
                            <div
                                class="alert alert-danger"
                                *ngIf="form.controls['email'].touched && !form.controls['email'].valid">
                                <div *ngIf="form.controls['email'].errors.required">
                                    E-mail is verplicht
                                </div>
                                <div *ngIf="form.controls['email'].errors.pattern">
                                    Voer een geldig email adres in
                                </div>
                            </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="streetname">Straatnaam</label>
                    <input
                        required
                        pattern="[A-Za-z]{1,32}"
                        [(ngModel)]="credentials.streetname"
                        formControlName="streetname"
                        id="streetname"
                        class="form-control"
                        type="text"
                        placeholder="Adres">
                        <div class="alert alert-danger" *ngIf="form.controls['streetname'].touched && !form.controls['streetname'].valid">
                            Adres is verplicht
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                    <label for="streetnumber">Straatnummer</label>
                    <input
                        required
                        pattern="[0-9A-Za-z]{1,5}"
                        [(ngModel)]="credentials.streetnumber"
                        formControlName="streetnumber"
                        id=""
                        class="form-control"
                        type="text"
                        placeholder="Huisnummer">
                        <div class="alert alert-danger" *ngIf="form.controls['streetnumber'].touched && !form.controls['streetnumber'].valid">
                            Huisnummer is verplicht
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="zipcode">Postcode</label>
                        <input
                            required
                            pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}"
                            [(ngModel)]="credentials.zipcode"
                            formControlName="zipcode"
                            class="form-control"
                            type="text"
                            placeholder="postcode">
                            <div class="alert alert-danger" *ngIf="form.controls['zipcode'].touched && !form.controls['zipcode'].valid">
                                Postcode is verplicht
                            </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="city">Stad</label>
                        <input
                            required
                            pattern="[A-Za-z]{1,32}"
                            [(ngModel)]="credentials.city"
                            formControlName="city"
                            id="city"
                            class="form-control"
                            type="text"
                            placeholder="Stad">
                            <div class="alert alert-danger" *ngIf="form.controls['city'].touched && !form.controls['city'].valid">
                                Stad is verplicht
                            </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="phonenumber">Telefoonnummer</label>
                        <input
                            required
                            [(ngModel)]="credentials.phonenumber"
                            formControlName="phonenumber"
                            id="phonenumber"
                            class="form-control"
                            type="number"
                            placeholder="Telefoon nummer">
                            <div class="alert alert-danger" *ngIf="form.controls['phonenumber'].touched && !form.controls['phonenumber'].valid">
                                Telefoon nummer is verplicht
                            </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="minOrderPrice">Minimale bestel prijs</label>
                        <input
                            [(ngModel)]="credentials.minOrderPrice"
                            formControlName="minOrderPrice"
                            id="minOrderPrice"
                            min="0.00"
                            max="1000.00"
                            step="0.01"
                            class="form-control"
                            type="number"
                            placeholder="Minimale bestel prijs">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="deliveryCosts">Leverkosten</label>
                        <input
                            [(ngModel)]="credentials.deliveryCosts"
                            formControlName="deliveryCosts"
                            id="deliveryCosts"
                            min="0.00"
                            max="1000.00"
                            step="0.01"
                            class="form-control"
                            type="number"
                            placeholder="Leverings kosten">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="deliveryZipcodes">Leverings postcodes</label>
                        <input
                            [(ngModel)]="credentials.deliveryZipcodes"
                            pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}"
                            formControlName="deliveryZipcodes"
                            id="deliveryZipcodes"
                            class="form-control"
                            type="text"
                            placeholder="Leverings postcodes als: 9321, 9432, ...">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="categories">Categorie nummers</label>
                        <input
                            [(ngModel)]="credentials.categories"
                            formControlName="categories"
                            id="categories"
                            class="form-control"
                            type="text"
                            placeholder="Nummers van aangegeven categorien">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="description">Beschrijving</label>
                        <textarea
                            [(ngModel)]="credentials.description"
                            maxlength="250"
                            formControlName="description"
                            id="description"
                            class="form-control"
                            placeholder="Beschrijving van het restaurant"></textarea>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!form.valid" [routerLink]="['/mijnrestaurants/lijst']" (click)="addRestaurant()">Registreer</button>
            </form>
        </div>
</div>
