<div class="container" style="margin-top: 15px; margin-bottom: 15px;">
    <!--<app-restaurant-info></app-restaurant-info>-->
    <div class="row">
        <div class='container md-12'>
            <div *ngFor="let restaurant of restaurantDataHolder">
                    <div class="card mb-6 offset-md-3" style="max-width: 540px; margin-bottom: 5px;">
                        <a (click)="goToRestaurant(restaurant.id)">
                            <div class="row no-gutters align-items-center">
                            <div class="col-md-4">
                                <img src="assets/img/Stock.png" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{restaurant.name}}</h5>
                                    <p class="card-text">{{restaurant.description}}.</p>
                                    <p class="card-text"><small class="text-muted">15 min</small></p>
                                </div>
                            </div>
                            </div>
                        </a>
                    </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class='container md-12' style="text-align: center;">
            <button type="button" class="btn btn-primary btn-lg" (click)="newRestaurant()">Voeg restaurant toe</button>
        </div>
    </div>
</div>

