  <div class="container">
    <div class="row" style="text-align: center;">
        <div class="offset-md-4 col-md-4">
            <h2 style="text-align: center;">Gebruikers login</h2>
        <div>
            <form class="form-signin" [formGroup]="form">
              <div *ngIf="check">
                <h3 style="color: red">Je email of wachtwoord klopt niet</h3>
              </div>
                <div class="form-group">
                    <input
                        required
                        autofocus
                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"
                        formControlName="email"
                        [(ngModel)]="credentials.email"
                        class="form-control"
                        type="email"
                        placeholder="E-mail adres">

                    <div
                        class="alert alert-danger"
                        *ngIf="form.controls['email'].touched && !form.controls['email'].valid">
                        <div *ngIf="form.controls['email'].errors.required">
                            E-mail is verplicht
                        </div>
                        <div *ngIf="form.controls['email'].errors.pattern">
                            Voer een geldig email adres in
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input
                        required
                        formControlName="password"
                        [(ngModel)]="credentials.password"
                        class="form-control"
                        type="password"
                        placeholder="Wachtwoord">
                    <div class="alert alert-danger" *ngIf="form.controls['password'].touched && !form.controls['password'].valid">
                        Wachtwoord is verplicht
                    </div>
                    <a class="forgotPassword" routerLink="/wachtwoordReset">
                        wachtwoord vergeten
                    </a>
                    <div class="form-group">
                        <a class="" routerLink="/chain/login">
                            Als keten inloggen
                        </a>
                    </div>
                </div>
                <input type="checkbox" class="form-check-input"> Onthoud mij<br/>
                <div class="input-center">
                    <button class="btn btn-primary" type="submit" (click)="login()">Log in</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
