<section>
<div class="container">
	<div class="row mbr-justify-content-center">
            <div class="col-lg-12 mbr-col-md-10" (click)='toMyData()'>
                <div class="wrap">
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Mijn <span>gegevens</span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Hier kunt u uw chain gegevens bekijken en aanpassen</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mbr-col-md-10" (click)='toMyRestaurants()'>
                <div class="wrap">
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Mijn
                            <span>restaurants</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Hier ziet u een overzicht van al uw restaurants</p>
                    </div>
                </div>
            </div>        
    </div>
</div>

</section>