<div class="row">
    <div class="col-sm-10 col-sm-offset-2 mx-auto">
        <div class="card">
            <div class="card-body">
                <p class= "text-center">
                    <b>Straat:</b> {{street}} <b>Huisnummer: </b>{{houseNumber}} <b>Postcode: </b> {{postalCode}}
                </p>
            </div>
        </div>
    </div>
</div>
