<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div *ngIf="isLoaded">
    <div *ngFor="let review of resReviews">
        <div class="card">
            <div class="card-header">
                <div class="row my-auto">
                    <div class="col-sm-3 my-auto">
                        <h3>{{review.title}}</h3>
                    </div>
                    <div class="mt-4 my-auto" *ngFor="let star of [].constructor(review.rating)">
                        <span class="fa fa-star checked my-auto"></span>
                    </div>
                    <div class="mt-4 my-auto" *ngFor="let star of [].constructor(5-review.rating)">
                        <span class="fa fa-star my-auto"></span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-5 ml-3">
                        <p>{{review.description}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>