.stars{
    width: 30px;
    height: 30px;
}

.checked{
    color: orange;
}

.card{
    border-color: #2d3246;
}
  
  .card-header{
    border-color: #2d3246;
    text-align: center;
    color: black; 
  }
  
  .card-body{
    border-color: #2d3246!important;
  }