<div class="container" *ngIf="isLoaded">
    <div class="row col-md-12 vcenter" style="text-align: center; display: block;">
        <h1 class="mb-0">
            Orders 
        </h1>
    </div>
    <div id="accordion" *ngFor="let order of currentOrders">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="margin-right: 5px;">
                {{order.id}} - {{order.name}} - {{order.deliveryAddressStreet}} {{ order.deliveryAddressNumber }}
              </button>
              <button disabled *ngIf="checkIfSend(order.isDelivered)" class="btn btn-link">Is onderweg of geleverd</button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="row">
                <div class="card-body md-2">
                    <ul>
                        <span><b>Adres</b></span>
                        <li><b>Stad: </b>{{order.deliveryAddressCity}}</li>
                        <li><b>Postcode: </b>{{order.deliveryAddressZipcode}}</li>
                        <li><b>Adres: </b>{{order.deliveryAddressStreet}} {{ order.deliveryAddressNumber }}</li>
                        <li><b>Telefoon: </b>{{order.phone}}</li>
                        <li><b>Email: </b>{{order.email}}</li>
                    </ul>
                </div>
                <div class="card-body md-4">
                    <ul>
                        <span><b>Extra</b></span>
                        <li><b>Totaalprijs:</b> ‎€{{order.price}}</li>
                        <li><b>Commentaar:</b> {{order.comments}}</li>
                    </ul>
                </div>
                <div class="card-body md-2">
                    <ul>
                        <span><b>Items</b></span>
                        <li><b>Naam: </b>{{order.dishIds}}</li>
                    </ul>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>