<section>
    <div class="container">
            <div class="col-lg-12 mbr-col-md-10" (click)='toMyProfile()'>
                <div class="wrap">
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Mijn
                            <span>gegevens</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Hier ziet u een overzicht van uw gegevens</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mbr-col-md-10" (click)='toMyOrders()'>
                <div class="wrap">
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                            Mijn bestellingen
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Een overzicht van de bestellingen</p>
                    </div>
                </div>
            </div>      
        </div>   
</section>