body {
    background-color: rgb(0,0,0);
    height: max-content;
}

main {
  margin: 10px;
}
  
#hero {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}
  
  