<main role="main" class="inner cover col-md-12" style="text-align: center;">
    <h1 class="cover-heading">Het is Etenstijd!</h1>
    <p class="lead">Geef hier onder je adres aan, zodat wij de beste restaurants voor jou kunnen vinden.</p>



    <form class="offset-md-4 col-md-4">
        <div class="lead form-group">
            <input id="code" #code
                required
                pattern="[1-9][0-9]{3}\s?[a-zA-Z]{2}"
                minlength="4"
                ngModel
                name="address"
                #address="ngModel"
                class="form-control"
                type="text"
                id="adres"
                placeholder="Bestemmings adres"/>

            <div
            class="alert alert-danger"
            *ngIf="address.touched && !address.valid">
                <div *ngIf="address.errors.required">
                    Adres is verplicht
                </div>
                <div *ngIf="address.errors.minlength">
                    Voer een geldig adres in
                </div>
            </div>
        </div>

        <button (click)="toRestaurants(code.value)" type="submit" class="btn btn-primary">Zoek</button>
    </form>
  </main>
