<div class="container mt-3">
    <div class="card">
    <div class="card-heading"><h3> Overzicht bestelling bij {{restaurant.name}}</h3></div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                Verwachte bezorgtijd: {{order.deliveryTime}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                Overzicht bestelling
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body"><div *ngFor="let o of this.dish">
                        <div class="row">
                            <div class="col-sm-3">
                                {{o.name}}
                            </div>
                            <div class="col-sm-7">
                                {{o.description}}
                            </div>
                            <div class="col-sm-2">
                                Aantal: {{getAantal(o.id)}}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br>
                Contactinformatie restaurant
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        {{restaurant.name}}
                        <hr>
                        Telefoon: {{restaurant.phonenumber}}<br>
                        {{restaurant.streetname + " " + restaurant.streetnumber}}<br>
                        {{restaurant.zipcode}}<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div *ngIf="this.hasReview != false;then thenBlock else elseBlock">
            </div>
                <ng-template #thenBlock>
                    <div class="col-sm-2 offset-sm-8">
                        <textarea disabled style="resize: none;">Er is al een review</textarea>
                    </div>
                </ng-template>
                <ng-template #elseBlock>
                    <div class="col-sm-2 offset-sm-8">
                        <li class='nav-item' *ngIf="auth.isLoggedIn()">
                            <button type="button"  (click)="toReview()" class="btn btn-primary btn-md">Review</button>
                        </li>
                    </div>
                </ng-template>
            <div class="col-sm-2">
                <button type="button" (click)="toHome()" class="btn btn-primary btn-md">Hoofdpagina</button>
            </div>
        </div>
    </div>
</div>