
  <div style="max-width: 1200px; margin: 0 auto;">

    <div class="container">

      <div>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" (click)="navigateToFoo(0)">Alles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="navigateToFoo(1)">Pizza</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="navigateToFoo(2)">Patat</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="navigateToFoo(3)">Turks</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  (click)="navigateToFoo(4)">Chinees</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " (click)="navigateToFoo(5)">Sparibs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " (click)="navigateToFoo(6)">Surinaams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " (click)="navigateToFoo(7)">Döner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " (click)="navigateToFoo(8)">Roti</a>
            </li>
          </ul>
        </nav>
      </div>


      <div class="row">

        <div class="col-md-3 col-sm-3" >
          <div class="d-flex" id="wrapper">

            <!-- Sidebar -->
            <div>
              <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">
                <h2>Filter</h2>
                </div>
                <div class="list-group list-group-flush">
                  <a href="#Bezorgkosten" class="list-group-item list-group-item-action bg-light" data-toggle="collapse">Bezorgkosten</a>
                  <div id="Bezorgkosten" class="collapse">
                    <a (click)="prijs(0)">Gratis</a><br>
                    <a (click)="prijs(1.50)">1,50</a><br>
                    <a (click)="prijs(2.50)">2,50</a><br>
                    <a (click)="prijs(3.00)">3,00</a><br>
                    <a (click)="reset()">Reset</a>
                  </div>
                </div>
              </div>
              <!-- /#sidebar-wrapper -->
              <!-- Page Content -->
              <!-- /#page-content-wrapper -->
            </div>
        </div>
      </div>

      <div class="restaurant">
        <div *ngFor="let data of database">
          <div *ngFor="let address of data.deliveryZipcodes.split(',')">
            <div *ngIf="checkAddress(address)">
              <div *ngFor="let categories of data.Restaurant_catagories">
                <div *ngIf="checkVoedsel(categories.categorieId, data.name)">
                    <div *ngIf="test(data.deliveryCosts)">
                      <a class="pointer" (click)="toRestaurant(data.id)">
                        <div class="card mb-3" style="max-width: 540px;">
                          <div class="row no-gutters align-items-center">
                            <div class="col-md-4">
                              <img src="assets/img/Stock.png" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h5 class="card-title">{{data.name}}</h5>
                                <p class="card-text">{{data.description}}.</p>
                                <p class="card-text"><small class="text-muted">15 min</small></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--      </div>-->


<!--  </div>-->

<!-- /#wrapper -->


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Menu Toggle Script -->


