<div class="container">
    <div class="col-md-12" style="text-align: center;">
            <h2>Gerecht toevoegen</h2>
            <form class="form-register" [formGroup]="form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">Gerechtnaam</label>
                        <input 
                            required
                            [(ngModel)]="credentials.name"
                            formControlName="name"
                            id="name"
                            class="form-control" 
                            type="text" 
                            placeholder="Naam">
                            <div class="alert alert-danger" *ngIf="form.controls['name'].touched && !form.controls['name'].valid">
                                Naam is verplicht
                            </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="description">Gerecht beschrijving</label>
                        <textarea 
                            required 
                            [(ngModel)]="credentials.description"
                            formControlName="description"
                            id="description"
                            class="form-control" 
                            type="email" 
                            placeholder="Beschrijving">
                            </textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                    <label for="price">Prijs</label>
                    <input 
                        required
                        [(ngModel)]="credentials.price"
                        formControlName="price"
                        id="price"
                        class="form-control" 
                        type="number"
                        min="0.00"
                        max="1000.00"
                        step="0.01" 
                        placeholder="Prijs">
                        <div class="alert alert-danger" *ngIf="form.controls['price'].touched && !form.controls['price'].valid">
                            Prijs is verplicht
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="ingredients">Ingredienten</label>
                        <input 
                            required
                            [(ngModel)]="credentials.ingredients"
                            formControlName="ingredients"
                            id="ingredients"
                            class="form-control" 
                            type="text" 
                            placeholder="Ingredient nummers">
                            <div class="alert alert-danger" *ngIf="form.controls['ingredients'].touched && !form.controls['ingredients'].valid">
                                ingredienten zijn verplicht
                            </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label for="allergies">Allergenen</label>
                        <textarea 
                            required 
                            type="text" 
                            class="form-control"
                            [(ngModel)]="credentials.allergies"
                            id="allergies"
                            formControlName="allergies"
                            placeholder="Lactose, Noten, ..."></textarea>
                    </div>

                    <div class="form-group col-sm-6">
                        <label for="course">Gang</label>
                        <select
                        required
                        class="form-control" 
                        [(ngModel)]="credentials.course"
                        id="course"
                        formControlName="course">
                            <option value="Voorgerecht" selected>Voorgerecht</option>
                            <option value="Hoofdgerecht">Hoofdgerecht</option>
                            <option value="Drinken">Drinken</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" (click)="addDish()">Voeg toe</button>
            </form>
        </div>
</div>
