<div *ngIf="isLoaded">
    <div class="row">
        <div class="col-sm-3">
            <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg">
        </div>
        <div class="col-sm-9 my-auto">
            <h1>{{currentRestaurant.name}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9 offset-sm-3 my-auto">
            <button (click)="backToMenu()">Terug naar het menu</button>
        </div>
    </div>
</div>