<!--
    Author: Casper Scholte-Albers
    Version: 1.0
    Description: A page that combines all the available elements for easy routing
-->

<div class="container">
    <app-restaurant-info></app-restaurant-info>
</div>

<div class='container mt-4'>
    <app-menu-item></app-menu-item>
</div>
<div class='container mt-4'>
    <div class=" mx-auto">
        <button type="button" class="btn btn-primary btn-lg" (click)="toCart()">BETALEN</button>
    </div>
</div>