<form [formGroup]="passwordForm">
    <div class="row bot-buffer">
        <div class="formGroup col-sm-6">
            <label>Huidig wachtwoord</label>
            <input type="password" class="form-control" formControlName="curPassword" placeholder="Huidig wachtwoord"
            required
            [(ngModel)]="passToUpdate.currentPassword">
                <div class="alert alert-danger"
                *ngIf="passwordForm.controls['curPassword'].touched && !passwordForm.controls['curPassword'].valid">
                    Huidig wachtwoord mag niet leeg zijn
                </div>
        </div>
    </div>
    <div class="row">
        <div class="formGroup col-sm-6">
            <label>Nieuw Wachtwoord</label>
            <input type="password" class="form-control" formControlName="newPassOne" placeholder="Nieuwe wachtwoord"
            required
            minlength=8
            [(ngModel)]="passToUpdate.password">
            <div class="alert alert-danger"
            *ngIf="passwordForm.controls['newPassOne'].touched && !passwordForm.controls['newPassOne'].valid">
                Nieuw wachtwoord mag niet leeg zijn
            </div>
        </div>

        <div class="formGroup col-sm-6">
            <label>Herhaal Wachtwoord</label>
            <input type="password" class="form-control" formControlName="newPassTwo" placeholder="Herhaling wachtwoord"required>
                <div class="alert alert-danger"
                    *ngIf="passwordForm.controls['newPassTwo'].touched && !passwordForm.controls['newPassTwo'].valid">
                        Nieuw wachtwoord mag niet leeg zijn
                </div>
                <div class="alert alert-danger"
                    *ngIf="passwordForm.controls['newPassOne'].value != passwordForm.controls['newPassTwo'].value && passwordForm.controls['newPassTwo'].valid">
                        Wachtwoorden zijn niet gelijk
                </div>
        </div>
    </div>
    <div class="row mt-4">
        <button type="submit" class="btn btn-primary mx-auto" (click)="updatePassword()">Wachtwoord aanpassen</button>
    </div>
</form>