<section>
    <div class="container">
        <div class="row mbr-justify-content-center">
            <div class="col-lg-6 mbr-col-md-10" (click)='toMyData()'>
                <div class="wrap">
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Mijn restaurant<span>gegevens</span></h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Hier kunt u uw restaurant gegevens bekijken en aanpassen</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mbr-col-md-10" (click)='toMyDishes()'>
                <div class="wrap">
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">Mijn
                            <span>gerechten</span>
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Hier ziet u een overzicht van al uw gerechten</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mbr-col-md-10" (click)='toMyOrders()'>
                <div class="wrap">
                    <div class="text-wrap vcenter">
                        <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
                            Restaurant orders
                        </h2>
                        <p class="mbr-fonts-style text1 mbr-text display-6">Een overzicht van de bestellingen</p>
                    </div>
                </div>
            </div>      
        </div>
    </div>    
</section>