<div class="container">
    <div class="col-md-12" style="text-align: center;">
            <h2>Keten registreren</h2>
            <form class="form-register" [formGroup]="form">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input 
                            required
                            autofocus
                            [(ngModel)]="credentials.name"
                            formControlName="name"
                            class="form-control" 
                            type="text" 
                            placeholder="Bedrijfsnaam">
                            <div class="alert alert-danger" *ngIf="form.controls['name'].touched && !form.controls['name'].valid">
                                Bedrijfsnaam is verplicht
                            </div>
                    </div>
                    <div class="form-group col-md-6">
                        <input 
                            required
                            autofocus 
                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" 
                            [(ngModel)]="credentials.email"
                            formControlName="email"
                            class="form-control" 
                            type="email" 
                            placeholder="E-mail adres">
                            <div 
                                class="alert alert-danger" 
                                *ngIf="form.controls['email'].touched && !form.controls['email'].valid">
                                <div *ngIf="form.controls['email'].errors.required">
                                    E-mail is verplicht
                                </div>
                                <div *ngIf="form.controls['email'].errors.pattern">
                                    Voer een geldig email adres in
                                </div>
                            </div>
                    </div>
                </div>
                
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input 
                            required 
                            [(ngModel)]="credentials.password"
                            formControlName="password"
                            class="form-control" 
                            type="password" 
                            placeholder="Wachtwoord">
                            <div class="alert alert-danger" *ngIf="form.controls['password'].touched && !form.controls['password'].valid">
                                Wachtwoord is verplicht
                            </div>
                    </div>
                    
                    <div class="form-group col-md-6">
                        <input 
                        required 
                        formControlName="passwordRe"
                        class="form-control" 
                        type="password" 
                        placeholder="Bevestig uw wachtwoord">
                        <div class="alert alert-danger" *ngIf="form.controls['passwordRe'].touched && !form.controls['passwordRe'].valid">
                            Wachtwoord bevestigen is verplicht
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                    <input 
                        required
                        autofocus
                        [(ngModel)]="credentials.streetname"
                        formControlName="streetname"
                        class="form-control" 
                        type="text" 
                        placeholder="Adres">
                        <div class="alert alert-danger" *ngIf="form.controls['streetname'].touched && !form.controls['streetname'].valid">
                            Adres is verplicht
                        </div>
                    </div>

                    <div class="form-group col-md-2">
                    <input 
                        required
                        autofocus
                        [(ngModel)]="credentials.streetnumber"
                        formControlName="streetnumber"
                        class="form-control" 
                        type="number" 
                        placeholder="Huisnummer">
                        <div class="alert alert-danger" *ngIf="form.controls['streetnumber'].touched && !form.controls['streetnumber'].valid">
                            Huisnummer is verplicht
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <input 
                            required
                            autofocus
                            [(ngModel)]="credentials.zipcode"
                            formControlName="zipcode"
                            class="form-control" 
                            type="text" 
                            placeholder="postcode">
                            <div class="alert alert-danger" *ngIf="form.controls['zipcode'].touched && !form.controls['zipcode'].valid">
                                Postcode is verplicht
                            </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <input 
                            required
                            autofocus
                            [(ngModel)]="credentials.city"
                            formControlName="city"
                            class="form-control" 
                            type="city" 
                            placeholder="Stad">
                            <div class="alert alert-danger" *ngIf="form.controls['city'].touched && !form.controls['city'].valid">
                                Stad is verplicht
                            </div>
                    </div>

                    <div class="form-group col-md-6">
                        <input 
                            required
                            autofocus
                            [(ngModel)]="credentials.phonenumber"
                            formControlName="phonenumber"
                            class="form-control" 
                            type="number" 
                            placeholder="Telefoon nummer">
                            <div class="alert alert-danger" *ngIf="form.controls['phonenumber'].touched && !form.controls['phonenumber'].valid">
                                Telefoon nummer is verplicht
                            </div>
                    </div>
                </div>
                    
                <button type="submit" class="btn btn-primary" (click)="chainRegister()">Registreer</button>
            </form>
        </div>
</div>
