<div class="container mt-3">
    <div class="card">
    <div class="card-heading"><h3> Winkelwagen</h3></div>
    <div class="card-body">
        <div *ngFor="let menuItem of menu; let i = index">
            <div class="row">
                <div class="col-sm-2">
                    {{menuItem.name}}
                </div>
                <div class="col-sm-6">
                    {{menuItem.description}}
                </div>
                <div class="col-sm-2">
                    Aantal: 
                    {{getTotal(menuItem.id)}}
                </div>
                <div class="col-sm-1" id={{i}}>
                    <input type="text" ngModel="€{{getPrice(menuItem.id, menuItem.price)}}" size="4" readonly>
                </div>
                <div class="col-sm-1">
                    <button type="button" (click)="removeItem(menuItem.id)">-</button>
                    <button type="button" (click)="addItem(menuItem.id)">+</button>
                </div>
            </div>
        </div><div class="row">
            <div class="col-sm-2 offset-sm-8">
                Verzendkosten: 
            </div>
            <div class="col-sm-1">
                <input type="text" size="4" value="€{{deliveryCosts}}" readonly>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 offset-sm-8">
                Totaalprijs: 
            </div>
            <div class="col-sm-1">
                <input type="text" size="4" value="€{{this.price + this.deliveryCosts}}" readonly>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngIf="(this.price + this.deliveryCosts) > restaurant.minOrderPrice;then checkOut else noCheckOut">
        </div>
        <ng-template #checkOut>
            <div class="col-sm-1 offset-sm-7">
                <button type="button" class="btn btn-primary btn-lg" (click)="toMenu()">Terug</button>
            </div>
            <div class="col-sm-2 offset-sm-2">
                <button type="button" class="btn btn-primary btn-lg" (click)="toCheckOut()">Afrekenen</button>
            </div>
        </ng-template>
        <ng-template #noCheckOut>
            <div class="col-sm-1 offset-sm-7">
                <button type="button" class="btn btn-primary btn-lg" (click)="toMenu()">Terug</button>
            </div>
            <div class="col-sm-2">
                <textarea disabled style="resize: none;">Minimum bestelbedrag is €{{restaurant.minOrderPrice}}</textarea> 
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-lg" (click)="toCheckOut()" disabled>Afrekenen</button>
            </div>
        </ng-template>
    </div>
    <br>
    </div>
</div>